azure_df/pipeline/pl_incremental_load_to_bronze.json
{
	"name": "pl_incremental_load_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "SetLastDay",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_day",
					"value": {
						"value": "@activity('LookupWatermark').output.firstRow.dh_transactions.last_day",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetLastFullLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_full_load",
					"value": {
						"value": "@activity('LookupWatermark').output.firstRow.dh_product_lookup.last_full_load",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetLastWeek",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_week",
					"value": {
						"value": "@activity('LookupWatermark').output.firstRow.dh_causal_lookup.last_week",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copy_dh_transactions",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetLastDay",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dh_transactions WHERE day > @{variables('last_day')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "upc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "upc",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "dollar_sales",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "dollar_sales",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "units",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "units",
									"type": "Byte",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "time_of_transaction",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "time_of_transaction",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "geography",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "geography",
									"type": "Byte",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "week",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "week",
									"type": "Byte",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "household",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "household",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "store",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "store",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "basket",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "basket",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "day",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "day",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "coupon",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "coupon",
									"type": "Boolean",
									"physicalType": "BOOLEAN"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_dh_transaction",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_dh_transactions",
						"type": "DatasetReference",
						"parameters": {
							"directoryPath": {
								"value": "@{utcNow('yyyyMMddHHmmss')}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_dh_product_lookup",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetLastFullLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_dh_product_lookup",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_dh_product_lookup",
						"type": "DatasetReference",
						"parameters": {
							"directoryPath": {
								"value": "full_load_@{utcNow('yyyyMMddHHmmss')}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "copy_dh_causal_lookup",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetLastWeek",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dh_causal_lookup WHERE week > @{variables('last_week')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_dh_causal_lookup",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_dh_causal_lookup",
						"type": "DatasetReference",
						"parameters": {
							"directoryPath": {
								"value": "@{utcNow('yyyyMMddHHmmss')}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set_last_full_load",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copy_dh_product_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_full_load",
					"value": {
						"value": "@utcNow('yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "update_last_day",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lookup_max_last_day",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_day",
					"value": {
						"value": "@string(coalesce(activity('lookup_max_last_day').output.firstRow.max_day, '0'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lookup_max_last_day",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "copy_dh_transactions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(day) AS max_day FROM dh_transactions",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_dh_transaction",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "lookup_max_last_week",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "copy_dh_causal_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(week) AS max_week FROM dh_causal_lookup",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_dh_causal_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "update_last_week",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lookup_max_last_week",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_week",
					"value": {
						"value": "@string(coalesce(activity('lookup_max_last_week').output.firstRow.max_week, '0'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "update_watermark",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "update_last_day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_last_full_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "update_last_week",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-version": "2021-02-12",
						"x-ms-blob-type": "BlockBlob",
						"Content-Type": "application/json"
					},
					"url": {
						"value": "https://storagecarbo.blob.core.windows.net/bronze/metadata/watermark.json?api-version=2021-02-12",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\"dh_transactions\": {\"last_day\": \"', variables('last_day'), '\"}, \"dh_product_lookup\": {\"last_full_load\": \"', variables('last_full_load'), '\"}, \"dh_causal_lookup\": {\"last_week\": \"', variables('last_week'), '\"}}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "silver_dh_transactions",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "update_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carbo-loading/silver_transactions"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver_product_lookup",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "update_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carbo-loading/silver_product_lookup"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver_causal_lookup",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "update_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carbo-loading/silver_causal_lookup"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "gold_dim_carbo",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "silver_dh_transactions",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "silver_product_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "silver_causal_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carbo-loading/gold_dim_carbo"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "gold_fact_sales",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "gold_dim_carbo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carbo-loading/gold_fact_carbo"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"watermark": {
				"type": "String"
			},
			"last_day": {
				"type": "String"
			},
			"last_full_load": {
				"type": "String"
			},
			"last_week": {
				"type": "String"
			},
			"row_count_product_lookup": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-04T09:47:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}